In [1]:
import sqlite3

In [2]:
# Connect to the db
connect_to_db = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [3]:
# Used to query the database
cursor = connect_to_db.cursor()

In [4]:
# Test the cursor with a query 
cursor.execute('SELECT * FROM Facilities')
# Extract the result
result = cursor.fetchall()
# Display the result
[print(row) for row in result];

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [10]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! 
query = '''
SELECT f.name, 
CASE WHEN m.memid = 0 
THEN SUM(f.guestcost * b.slots)
ELSE SUM(f.membercost * b.slots)
END AS total_cost
FROM Bookings as b
JOIN Facilities as f ON b.facid = f.facid
JOIN Members AS m ON b.memid = m.memid
GROUP BY f.name
HAVING total_cost < 1000
ORDER BY total_cost;
'''
cursor.execute(query)
result = cursor.fetchall()

[print(row) for row in result];

('Badminton Court', 0)
('Pool Table', 0)
('Snooker Table', 0)
('Table Tennis', 0)

In [11]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
# 22 records, supposedly - for some reason this query misses 12 of them?
query = '''
SELECT 
	CONCAT(m.surname, ', ', m.firstname) AS member, 
    CONCAT(r.surname, ', ', r.firstname) AS recommender
FROM Members AS m, Members AS r
WHERE m.recommendedby = r.memid AND m.memid != 0 and r.memid !=0
ORDER BY recommender ASC;

'''
cursor.execute(query)
result = cursor.fetchall()
print(len(result))
[print(row) for row in result];

22
('Sarwin, Ramnaresh', 'Bader, Florence')
('Coplin, Joan', 'Baker, Timothy')
('Genting, Matthew', 'Butters, Gerald')
('Baker, Timothy', 'Farrell, Jemima')
('Pinker, David', 'Farrell, Jemima')
('Rumney, Henrietta', 'Genting, Matthew')
('Jones, Douglas', 'Jones, David')
('Dare, Nancy', 'Joplette, Janice')
('Jones, David', 'Joplette, Janice')
('Hunt, John', 'Purview, Millicent')
('Boothe, Tim', 'Rownam, Tim')
('Joplette, Janice', 'Smith, Darren')
('Butters, Gerald', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Smith, Jack', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Worthington-Smyth, Henry', 'Smith, Tracy')
('Purview, Millicent', 'Smith, Tracy')
('Crumpet, Erica', 'Smith, Tracy')
('Baker, Anne', 'Stibbons, Ponder')
('Bader, Florence', 'Stibbons, Ponder')
('Stibbons, Ponder', 'Tracy, Burton')

In [12]:
# Q12: Find the facilities with their usage by member, but not guests

query = '''
SELECT f.name, SUM(b.slots) as number_bookings 
FROM Bookings as b
JOIN Facilities AS f ON b.facid = f.facid
WHERE b.memid > 0
GROUP BY b.facid;
'''
cursor.execute(query)
result = cursor.fetchall()

[print(row) for row in result];

('Tennis Court 1', 957)
('Tennis Court 2', 882)
('Badminton Court', 1086)
('Table Tennis', 794)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Squash Court', 418)
('Snooker Table', 860)
('Pool Table', 856)

In [16]:
# Q13: Find the facilities usage by month, but not guests

query = '''
SELECT f.name, SUM(b.slots) as number_bookings, strftime('%m', b.starttime) AS month
FROM Bookings as b
JOIN Facilities AS f ON b.facid = f.facid
WHERE b.memid > 0
GROUP BY strftime('%m', b.starttime);

'''
cursor.execute(query)
result = cursor.fetchall()

[print(row) for row in result];

('Table Tennis', 1061, '07')
('Tennis Court 1', 2531, '08')
('Tennis Court 1', 3199, '09')